<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form name="form">
    <input type="text" name="test" data-sv-pattern="test" required="test">
    <button type="button" data-action="validation-check-click">validation-check</button>
  </form>
  <div data-name="result"></div>
</body>
<script type="importmap">
  {
    "imports": {
      "@nuka9510/simple-validation": "https://cdn.jsdelivr.net/npm/@nuka9510/simple-validation/dist/esm/index.min.mjs",
      "@nuka9510/simple-validation/js-util": "https://cdn.jsdelivr.net/npm/@nuka9510/simple-validation/dist/esm/js-util.min.mjs"
    }
  }
</script>
<script type="module" src="../js/index.mjs"></script>
</html>